// import google font
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// base font classes
// 360px - 1280px - ийн хооронд responsive утга авна
%font-sm{
  // min = 8px, max = 10px
  font-size: clamp(0.5rem, 0.4511rem + 0.2174vw, 0.625rem);  
}
%font-md{
  // min = 8px, max = 12px
  font-size: clamp(0.5rem, 0.0543rem + 0.8696vw, 0.75rem); 
}
%font-lg{
  // min = 8px, max = 16px
  font-size: clamp(0.5rem, 0.3043rem + 0.8696vw, 1rem);  
}
%font-xl{
  // min = 12px, max = 20px
  font-size: clamp(0.75rem, 0.5543rem + 0.8696vw, 1.25rem);  
}
%font-xxl{
  // min = 16px, max = 32px
  font-size: clamp(1rem, 0.6087rem + 1.7391vw, 2rem);
}
%font-xxxl{
  // min = 16px, max = 32px
  font-size: clamp(1.25rem, 0.7609rem + 2.1739vw, 2.5rem);
}


/* reset styles */
* {
  color: inherit;
  margin: 0;
}

body {
  font-family: Poppins;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

hr {
  border: 0;
  border-top: 1px dotted #efefef;
}

img {
  max-width: 100%;
}

.test {
  color: $primary;
}
// base font-sizes
h1{
  @extend %font-xxxl;
}
h2{
 @extend %font-xxl;
}
h3{
  @extend %font-xl;
}
h4{
  @extend %font-md;
}
h5{
  @extend %font-sm;
}
a, button, p, span, input, label, ul, li,textarea, form, div{
  @extend %font-md;  
}



